{% load static %}
<!DOCTYPE html>
<html lang="es" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Reservaciones</title>
    <link rel="stylesheet" href="{% static 'css/stylelistar.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/confirmar.js' %}"></script>
</head>

<body>
    {% include 'menu.html' %}
    <h1>Listado de ventas</h1>


    <table class="tabla-productos">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Fecha Venta</th>
                <th>Total a Pagar</th>
                <th>Metodo de Pago</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
            <tr>
                <td>{{ venta.cliente.nombre }}</td>
                <td>{{ venta.fecha_venta|date:"Y-m-d H:i" }}</td>
                <td>${{ venta.total_pagar }}</td>
                <td>{{ venta.metodo_pago }}</td>

                <td>
                    <a class="boton-editar" href="{% url 'editar' venta.id %}">Editar</a>
                    <a class="boton-eliminar" href="{% url 'eliminar' venta.id %}" onclick="return confirmarEliminacion(event)">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="text-center text-muted">No hay ventas registradas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>