{% load static %}
<!DOCTYPE html>
<html lang="es" translate="no">
<head>
    <meta charset="UTF-8">
    <title>Acceso al Sistema</title>
    <link rel="stylesheet" href="{% static 'css/styleLogin.css' %}">
    <link rel="shortcut icon" href="{% static 'img/taza-cafe.webp' %}" type="image/x-icon"> <!-- Icono de la página -->
</head>
<body>
    <div class="main-container">
        <!-- Imagen decorativa -->
        <div class="side-image">
            <img src="{% static 'img/caramel macchiato.jfif' %}" alt="Decoración Café">
        </div>

        <!-- Login -->
        <div class="login-container">
            <h2>Iniciar Sesión</h2>
            <h4>Bienvenido al Sistema de Punto de Venta</h4>
            
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <label for="{{ form.username.id_for_label }}">Usuario:</label>
                {{ form.username }}

                <label for="{{ form.password.id_for_label }}">Contraseña:</label>
                {{ form.password }}

                <div style="display: none;">    
                    {{ form.role }}
                </div>

                <button type="submit">Entrar</button>
            </form>
        </div>
    </div>
</body>
</html>
