{% load static %} <!-- Cargar el documento de mi web-->
<!DOCTYPE html>
<html lang="es" translate="no">
<head>
    <meta charset="UTF-8">
    <title>Menú Principal</title>
    <link rel="stylesheet" href="{% static 'css/styleMenu.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="navbar-nav">
                <ul>                                              
                    <li><a class="nav-var">Bienvenido</a></li>
                    <li><a class="nav-link">Ventas</a>
                        <ul class="submenuG"> 
                            <li class="subM"><a href="">Nueva Venta</a></li>
                            <li class="subM"><a href="">Listado de Ventas</a></li>
                        </ul>
                        
                    </li>
                    <li><a class="nav-link">Gestión</a>
                        <ul class="submenuG"> 
                            <li class="subM"><a href="">Clientes</a></li>
                            <li class="subM"><a href="">Categorías</a></li>
                            <li class="subM"><a href="">Inventario</a></li>
                            <li class="subM"><a href="">Proveedores</a></li>
                            <li class="subM"><a href="">Compras</a></li>
                        </ul>
                        
                    </li>
                    
                    <li><a class="nav-link" href="{% url 'login' %}">Cerrar Sesión</a></li>
                    
                    
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>